<head>
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
</head>

<ActionBar backgroundColor="#3598E7">
  <DockLayout>
    <Label [text]="'LISTA DE CLIENTES'" fontSize="23" style="color: white"></Label>
    <label height="50"
           [nsRouterLink]="['/cliente/create']"
           text="  Agregar"
           android.position="popup"
           textWrap="true"
           class="-rounded"
           style="background: #209F1D; color: white"
           fontSize="16; 10"
           horizontalAlignment="right">
    </label>
      <label height="50"
             (tap)="onCerrar()"
             text="  Cerrar"
             android.position="popup"
             textWrap="true"
             class="-rounded"
             style="background: #209F1D; color: white"
             fontSize="16; 10"
             horizontalAlignment="right">
      </label>
  </DockLayout>
</ActionBar>

<StackLayout>
  <GridLayout>
    <ListView [items]="items">
      <ng-template let-item="item" let-i="index">
        <DockLayout>
            <Label width="15"></Label>
            <Label text="{{(i+1)}}" fontSize="15"></Label>
            <Label width="10"></Label>
            <Label text="&#xf2bd;" fontSize="50" width="50" height="50" class="fa action-item"></Label>
            <StackLayout [nsRouterLink]="['/item', item.id]">
                <Label [text]="item.cli_nombre" fontSize="15"></Label>
                <Label [text]="'Tel: ' + (item.cli_telefono)" fontSize="15"></Label>
            </StackLayout>
            <DockLayout>
                <StackLayout width="80" dock="right">
                    <Label height="15"></Label>
                    <Label text="&#xf1f8;" fontSize="30" class="fa action-item" style="color: red" (tap)="onEliminar(item.cli_id)"></Label>
                </StackLayout>
                <StackLayout width="80" dock="right">
                    <Label height="15"></Label>
                    <Label text="&#xf044;" fontSize="30" style="color: #3598E7" class="fa action-item" (tap)="onEditar(item.cli_id)"></Label>
                </StackLayout>
            </DockLayout>
        </DockLayout>
      </ng-template>
    </ListView>
  </GridLayout>
</StackLayout>
