<head>
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
</head>
<ActionBar backgroundColor="#56A67C">
  <StackLayout orientation="horizontal">
    <Label [text]="'Lista de Usuarios               '" fontSize="23"></Label>
    <label height="50"
           [nsRouterLink]="['/user/create']"
           text="  Agregar"
           android.position="popup"
           textWrap="true"
           class="-rounded"
           style="background: #E3F1EC; color: black;"
    fontSize="16"
           horizontalAlignment="right">
    </label>
  </StackLayout>
</ActionBar>

<StackLayout>
  <GridLayout>
    <ListView [items]="items">
      <ng-template let-item="item">
        <StackLayout orientation="horizontal" backgroundColor="#E3F1EC" class="list-group-item">
          <StackLayout orientation="horizontal" class="list-group-item" [nsRouterLink]="['/item', item.id]">
            <Label [text]="item.id" fontSize="15"></Label>
            <Label [text]="item.name" fontSize="15"></Label>
            <Label [text]="item.role" fontSize="15"></Label>
          </StackLayout>
          <StackLayout horizontal-align="right" orientation="horizontal" class="list-group-item">
            <Label  text="&#xf044;" class="fa action-item" ></Label>
            <Label text="&#xf1f8;" class="fa action-item" ></Label>
          </StackLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </GridLayout>
</StackLayout>
