<ActionBar style="background-color: #3598E7;"title="EDIT">
    <StackLayout>
        <Label text="EDITAR USUARIO" fontSize="25" class="text-center" style="color: white"></Label>
    </StackLayout>
</ActionBar>

<StackLayout>
    <image width="150"height="150"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png"
           stretch="aspectFill"
    >
    </image>
    <TextField width="325"height="50"
               link href  ="https://www.svgrepo.com/show/96920/id-card.svg"
               hint="    Identificación" fontSize="15"
               color="blue"
               backgroundColor="#F0F2F3"
               class="-rounded-lg">
    </TextField>
    <TextField width="325"height="50"
               hint="    Nombre" fontSize="15"
               color="blue"
               backgroundColor="#F0F2F3"
               class="-rounded-lg">
    </TextField>
    <TextField width="325"height="50"
               hint="    Correo" fontSize="15"
               color="blue"
               backgroundColor="#F0F2F3"
               class="-rounded-lg">
    </TextField>
    <TextField width="325"height="50"
               hint="    Telefono" fontSize="15"
               color="blue"
               backgroundColor="#F0F2F3"
               class="-rounded-lg">
    </TextField>
    <TextField width="325"height="50"
               hint="    Cuenta Github" fontSize="15"
               color="blue"
               backgroundColor="#F0F2F3"
               class="-rounded-lg">
    </TextField>
    <button width="325"height="50"
            text="    Fotografía" fontSize="15"
            color="white"
            backgroundColor="green"
            class="-rounded-lg">
    </button>
    <Label>

    </Label>
    <button width="325" height="50"
            [nsRouterLink]="['/items']"
            text="ACTUALIZAR" fontSize="22"
            android.position="popup"
            textWrap="true"
            class="-rounded-lg"
            style="background: #3598E7; color: white">
    </button>
</StackLayout>
