<head>
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
</head>

<ActionBar style="background-color: #3598E7;"title="REGISTRO">
    <StackLayout>
        <Label text="REGISTRO DE USUARIOS" fontSize="25" class="text-center" style="color: white"></Label>
    </StackLayout>
</ActionBar>

<StackLayout class="register-form" [formGroup]="registerForm">
    <image width="150"height="150"
           src="public/image/imagen1.PNG"
           stretch="aspectFill">
    </image>
    <StackLayout  class="input-field">
        <TextField width="325"height="50"
                   hint="    Nombre" fontSize="15"
                   color="blue"
                   backgroundColor="#F0F2F3"
                   class="-rounded-lg"
                   formControlName="name">
        </TextField>
    </StackLayout>
    <StackLayout  class="input-field">
        <TextField width="325"height="50"
                   hint="    Correo" fontSize="15"
                   color="blue"
                   backgroundColor="#F0F2F3"
                   class="-rounded-lg"
                   formControlName="email">
        </TextField>
    </StackLayout>
    <StackLayout  class="input-field">
        <TextField width="325"height="50"
                   hint="    Ingresar Contraseña" fontSize="15"
                   color="blue"
                   backgroundColor="#F0F2F3"
                   class="-rounded-lg"
                   [secure]="true"
                   formControlName="password">
        </TextField>
    </StackLayout>
    <StackLayout  class="input-field">
        <TextField width="325"height="50"
                   hint="    Confirmar Contraseña" fontSize="15"
                   color="blue"
                   backgroundColor="#F0F2F3"
                   class="-rounded-lg"
                   [secure]="true">
        </TextField>
    </StackLayout>
    <button width="200" height="50"
            text="REGISTRAR" fontSize="22"
            (tap)="onRegister(registerForm.value)"
            android.position="popup"
            textWrap="true"
            class="-rounded-lg"
            style="background: #3598E7; color: white">
    </button>
    <Label height="25"></Label>
    <Label text="Terminos y Condiciones" class="text-center" style="color: blue" fontSize="15" fontStyle="italic" fontWeight="bold"></Label>
</StackLayout>
