<StackLayout >
    <Label text="Charmander Create" fontSize="24" class="text-center"></Label>
    <Image height="80"  width="80"  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png"></Image>
    <button height="50"
            [nsRouterLink]="['/items']"
            text="Tap me!"
            android.position="popup"
            textWrap="true"
            class="-rounded-lg"
            style="background: skyblue; color: white">
    </button>
</StackLayout>
